/* CSS Document 
global CSS for Resco
*/

button {
  width: 13%;
  height: 13%;
  font-size: large;
  letter-spacing: 1px;
  min-height: 100px;
  min-width: 120px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 5px 20px 20px 0px;
}

.blue {
  background-color: #458ef8;  
  color: white;
}

.green {
  background-color: #228B22;  
  color: white;
}

.red {
  background-color: #FF4500;
  color: white;
}

  label {
  color: white;
}